<h1>Breweries</h1>


<!-- columns select -->
<mat-form-field>
  <mat-select placeholder="Columns" [formControl]="columns" [(ngModel)]="displayedColumns"
   [compareWith]="compareWithFunc" multiple>
    <mat-select-trigger><span>Columns</span></mat-select-trigger>
    <mat-option *ngFor="let column of columnList" [value]="column">{{column}}</mat-option>
  </mat-select>
</mat-form-field>

<p>
  {{displayedColumns | json}}
</p> 

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

    <!-- brewery_type Column -->
    <ng-container matColumnDef="brewery_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> brewery_type </th>
      <td mat-cell *matCellDef="let element"> {{element.brewery_type}} </td>
    </ng-container>  

  <!-- city Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <!-- country Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> country </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

   <!-- country Column -->
   <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Angular 8 pagination -->
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>


<!-- <ul *ngIf="brews">
  <li *ngFor="let brew of brews">
    <p class="name">{{ brew.name }} </p>
    <p class="country">{{ brew.country }} </p>
    <a href="{{ brew.website_url }}" class="site">site</a>
  </li>
</ul> -->
